version: '3'

services:
  dalc0:
    container_name: bridge0
    image: "ghcr.io/celestiaorg/celestia-node:${CELESTIA_NODE_IMAGE_TAG:-sha-f4e582e}"
    environment:
      - NODE_TYPE=bridge
      - "CELESTIA_CUSTOM=private:B37ADC527B29B88D91CC758D1F4190D2C48CEEEB981175AEF1159099B09E1D04"
    command: [
            "celestia", "bridge",
            "start",
            "--core.ip", "192.167.10.0",
            "--keyring.accname", "key-1",
             ]
    volumes:
       - ${PWD}/celestia-app/private/keyring-test:/root/.celestia-bridge-private/keys/keyring-test:ro
       - ${PWD}/celestia-node/bridge/config.toml:/root/.celestia-bridge-private/config.toml
    ports:
      - "26658:26658"

    networks:
      localnet:
        ipv4_address: 192.167.3.0

networks:
  localnet:
    name: localnet
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.167.0.0/16
