version: '3'

services:
  core0:
    container_name: core0
    image: "celestia-app:testnet"
    environment:
      - MY_VAL_ADDRESS=celes1z4t2fnem459xcfj5kknnd5yy8rp4frhdnnkel9
    command: [
            "start",
            "--moniker", "core0",
            "--rpc.laddr", "tcp://0.0.0.0:26657"
        ]
    volumes:
       - ${PWD}/celestia-app/minimal/single/config/priv_validator_key.json:/celestia-app/config/priv_validator_key.json:ro
       - ${PWD}/celestia-app/minimal/single/config/node_key.json:/celestia-app/config/node_key.json:ro
       - ${PWD}/celestia-app/minimal/single/keyring-test:/celestia-app/keyring-test:ro
       - ${PWD}/celestia-app/minimal/genesis.json:/celestia-app/config/genesis.json:ro
       - ${PWD}/celestia-app/minimal/config.toml:/celestia-app/config/config.toml:ro
    networks:
      localnet:
        ipv4_address: 192.167.10.0

networks:
  localnet:
    name: localnet
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.167.0.0/16
