version: '3'

services:
  core0:
    container_name: core0
    image: "ghcr.io/celestiaorg/celestia-app:${CELESTIA_APP_IMAGE_TAG:-v0.11.0}"
    environment:
      - CELESTIA_HOME=/root/.celestia-app
    command: [
            "start",
            "--home", "/root/.celestia-app",
            "--rpc.laddr", "tcp://0.0.0.0:26657"
        ]
    volumes:
       - ${PWD}/celestia-app/private/config/priv_validator_key.json:/root/.celestia-app/config/priv_validator_key.json:ro
       - ${PWD}/celestia-app/private/config/node_key.json:/root/.celestia-app/config/node_key.json:ro
       - ${PWD}/celestia-app/private/config/genesis.json:/root/.celestia-app/config/genesis.json:ro
       - ${PWD}/celestia-app/private/config/config.toml:/root/.celestia-app/config/config.toml:ro
       - ${PWD}/celestia-app/private/config/client.toml:/root/.celestia-app/config/client.toml:ro
       - ${PWD}/celestia-app/private/keyring-test:/root/.celestia-app/keyring-test:ro
    networks:
      localnet:
        ipv4_address: 192.167.10.0

networks:
  localnet:
    name: localnet
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.167.0.0/16
