version: '3'

services:
  light0:
    container_name: light0
    image: "celestia-node:testnet"
    environment:
      - NODE_TYPE=light
    command: [
            "celestia", "light",
            "--node.store", "/celestia-light",
            "start",
            "--headers.trusted-peers",
            "/ip4/192.167.1.0/tcp/2121/p2p/12D3KooWL8z3KARAYJcmExhDsGwKbjChKeGaJpFPENyADdxmEHzw",
            "--headers.trusted-hash", 
            "02EED4BCFAF0CC8A3D1100D588E571FBF44219488F01AB48870BC9015A9F105A"
             ]
    volumes:
       - ${PWD}/celestia-node/light/light0/nodekey0:/celestia-light/keys/OAZHALLLMV4Q:ro
    networks:
      localnet:
        ipv4_address: 192.167.2.0

networks:
  localnet:
    name: localnet
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.167.10.0/16
