version: '3'

services:
  ethermint0:
    container_name: ethermint0
    image: "ghcr.io/celestiaorg/ethermint:${ETHERMINT_IMAGE_TAG-latest}"
    # image: "ethermint:local"
    environment:
      - HOME_DIR=/root/.ethermintd
    command: [
            "ethermintd", "start",
             ]
    volumes:
         - ${PWD}/ethermint/ethermint0/config/priv_validator_key.json:/root/.ethermintd/config/priv_validator_key.json:ro
         - ${PWD}/ethermint/ethermint0/config/node_key.json:/root/.ethermintd/config/node_key.json:ro
         - ${PWD}/ethermint/ethermint0/config/config.toml:/root/.ethermintd/config/config.toml:ro
         - ${PWD}/ethermint/ethermint0/keyring-test:/root/.ethermintd/keyring-test:ro
         - ${PWD}/ethermint/genesis.json:/root/.ethermintd/config/genesis.json:ro
    ports:
      # Expose the EVM json-rpc server
      - 8545:8545
    networks:
      localnet:
        ipv4_address: 192.167.4.0

networks:
  localnet:
    name: localnet
    driver: bridge
    ipam:
      driver: default
      config:
      -
        subnet: 192.167.0.0/16
